<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "org.concord.fz"
    versionCode = "1"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Flying Zippies</name>

  <description>
      Flying Zippies
  </description>

  <author href="https://concord.org" email="sfentress@concord.org">
      The Concord Consortium
  </author>

  <preference name="AllowInlineMediaPlayback" value="true" />
  <preference name="orientation"              value="landscape" />

  <platform name="ios">
    <icon src="icon.png" />
    <icon src="res/icon-40.png" platform="ios" width="40" height="40" />
    <icon src="res/icon-76.png" platform="ios" width="76" height="76" />
    <icon src="res/icon-120.png" platform="ios" width="120" height="120" />
    <icon src="res/icon-152.png" platform="ios" width="152" height="152" />

    <splash src="splash.png" />
  </platform>

</widget>